---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/conditions/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.063'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:27 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"New York, NY\",\n\t\t\"city\":\"New York\",\n\t\t\"state\":\"NY\",\n\t\t\"state_name\":\"New
        York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"10001\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"40.75013351\",\n\t\t\"longitude\":\"-73.99700928\",\n\t\t\"elevation\":\"17.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Chelsea, West 28th St., New York, New York\",\n\t\t\"city\":\"Chelsea,
        West 28th St., New York\",\n\t\t\"state\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"40.746910\",\n\t\t\"longitude\":\"-73.992836\",\n\t\t\"elevation\":\"110
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KNYNEWYO395\",\n\t\t\"observation_time\":\"Last
        Updated on March 22, 3:15 PM EDT\",\n\t\t\"observation_time_rfc822\":\"Tue,
        22 Mar 2016 15:15:18 -0400\",\n\t\t\"observation_epoch\":\"1458674118\",\n\t\t\"local_time_rfc822\":\"Tue,
        22 Mar 2016 15:15:27 -0400\",\n\t\t\"local_epoch\":\"1458674127\",\n\t\t\"local_tz_short\":\"EDT\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0400\",\n\t\t\"weather\":\"Clear\",\n\t\t\"temperature_string\":\"55.6
        F (13.1 C)\",\n\t\t\"temp_f\":55.6,\n\t\t\"temp_c\":13.1,\n\t\t\"relative_humidity\":\"24%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"SSW\",\n\t\t\"wind_degrees\":203,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1018\",\n\t\t\"pressure_in\":\"30.07\",\n\t\t\"pressure_trend\":\"-\",\n\t\t\"dewpoint_string\":\"19
        F (-7 C)\",\n\t\t\"dewpoint_f\":19,\n\t\t\"dewpoint_c\":-7,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"55.6
        F (13.1 C)\",\n\t\t\"feelslike_f\":\"55.6\",\n\t\t\"feelslike_c\":\"13.1\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"47\",\n\t\t\"UV\":\"1.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/NY/New_York.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KNYNEWYO395\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.746910,-73.992836\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Tue, 22 Mar 2016 19:15:27 GMT
recorded_with: VCR 3.0.1
