---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/astronomy/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.019'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:28 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"astronomy\": 1\n  }\n\t}\n\t\t,\t\"moon_phase\": {\n\t\t\"percentIlluminated\":\"100\",\n\t\t\"ageOfMoon\":\"14\",\n\t\t\"phaseofMoon\":\"Full\",\n\t\t\"hemisphere\":\"North\",\n\t\t\"current_time\":
        {\n\t\t\"hour\":\"15\",\n\t\t\"minute\":\"15\"\n\t\t},\n\t\t\"sunrise\": {\n\t\t\"hour\":\"6\",\n\t\t\"minute\":\"55\"\n\t\t},\n\t\t\"sunset\":
        {\n\t\t\"hour\":\"19\",\n\t\t\"minute\":\"10\"\n\t\t},\n\t\t\"moonrise\":
        {\n\t\t\"hour\":\"18\",\n\t\t\"minute\":\"35\"\n\t\t},\n\t\t\"moonset\": {\n\t\t\"hour\":\"6\",\n\t\t\"minute\":\"31\"\n\t\t}\n\t},\n\t\"sun_phase\":
        {\n\t\t\"sunrise\": {\n\t\t\"hour\":\"6\",\n\t\t\"minute\":\"55\"\n\t\t},\n\t\t\"sunset\":
        {\n\t\t\"hour\":\"19\",\n\t\t\"minute\":\"10\"\n\t\t}\n\t}\n}\n"
  recorded_at: Tue, 22 Mar 2016 19:15:28 GMT
recorded_with: VCR 3.0.1
