---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/history/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.165'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:30 GMT
      Nncoection:
      - close
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\":
        {\n\t\t\"pretty\": \"March 22, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\":
        \"03\",\n\t\t\"mday\": \"22\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\":
        \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"March
        22, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\":
        \"22\",\n\t\t\"hour\": \"04\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\":
        [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:51 AM EDT on March 22, 2016\",\n\t\t\"year\":
        \"2016\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\": \"22\",\n\t\t\"hour\": \"00\",\n\t\t\"min\":
        \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\":
        \"4:51 AM GMT on March 22, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\":
        \"03\",\n\t\t\"mday\": \"22\",\n\t\t\"hour\": \"04\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\":
        \"UTC\"\n\t\t},\n\t\t\"tempm\":\"2.8\", \"tempi\":\"37.0\",\"dewptm\":\"-8.3\",
        \"dewpti\":\"17.1\",\"hum\":\"44\",\"wspdm\":\"11.1\", \"wspdi\":\"6.9\",\"wgustm\":\"-9999.0\",
        \"wgusti\":\"-9999.0\",\"wdird\":\"300\",\"wdire\":\"WNW\",\"vism\":\"16.1\",
        \"visi\":\"10.0\",\"pressurem\":\"1017.3\", \"pressurei\":\"30.04\",\"windchillm\":\"-0.2\",
        \"windchilli\":\"31.6\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"-9999.00\",
        \"precipi\":\"-9999.00\",\"conds\":\"Clear\",\"icon\":\"clear\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"METAR
        KNYC 220451Z AUTO 30006KT 10SM CLR 03/M08 A3007 RMK AO2 SLP173 T00281083 401000000\"
        },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"1:51 AM EDT on March 22, 2016\",\n\t\t\"year\":
        \"2016\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\": \"22\",\n\t\t\"hour\": \"01\",\n\t\t\"min\":
        \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\":
        \"5:51 AM GMT on March 22, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\":
        \"03\",\[...]
