---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/satellite/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.015'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:32 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"satellite\": 1\n  }\n\t}\n\t\t,\t\"satellite\": {\n\t\t\"image_url\":
        \"http://wublast.wunderground.com/cgi-bin/WUBLAST?lat=40.75013351&lon=-73.99700928&radius=75&width=300&height=300&key=sat_ir4_thumb&gtt=0&extension=png&proj=me&num=1&delay=25&timelabel=0&basemap=1&borders=1&theme=WUBLAST_WORLD&rand=1458674132&api_key=default_api_key\",\n\t\t\"image_url_ir4\":
        \"http://wublast.wunderground.com/cgi-bin/WUBLAST?lat=40.75013351&lon=-73.99700928&radius=75&width=300&height=300&key=sat_ir4_thumb&gtt=0&extension=png&proj=me&num=1&delay=25&timelabel=0&basemap=1&borders=1&theme=WUBLAST_WORLD&rand=1458674132&api_key=default_api_key\",\n\t\t\"image_url_vis\":
        \"http://wublast.wunderground.com/cgi-bin/WUBLAST?lat=40.75013351&lon=-73.99700928&radius=75&width=300&height=300&key=sat_vis_thumb&gtt=0&extension=png&proj=me&num=1&delay=25&timelabel=0&basemap=1&borders=1&theme=WUBLAST_WORLD&rand=1458674132&api_key=default_api_key\"\n\t}\n}\n"
  recorded_at: Tue, 22 Mar 2016 19:15:32 GMT
recorded_with: VCR 3.0.1
