---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/rawtide/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.185'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:31 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"rawtide\": 1\n  }\n\t}\n\t\t,\n\t\"rawtide\": {\n\t\t\"tideInfo\":
        [\n\t\t{\n\t\t\"tideSite\":\"East 41st Street, New York City, East River,
        New York\",\n\t\t\"lat\":\"40.7467\",\n\t\t\"lon\":\"-73.9683\",\n\t\t\"units\":\"feet\",\n\t\t\"type\":\"tide\",\n\t\t\"tzname\":\"America/New_York\"\n\t\t}\n\t\t],\n\t\t\"rawTideObs\":
        [\n\t\t{\n\t\t\"epoch\":1458674131,\n\t\t\"height\":-0.127806\n\t\t},\n\t\t{\n\t\t\"epoch\":1458674431,\n\t\t\"height\":-0.153787\n\t\t},\n\t\t{\n\t\t\"epoch\":1458674731,\n\t\t\"height\":-0.173201\n\t\t},\n\t\t{\n\t\t\"epoch\":1458675031,\n\t\t\"height\":-0.185832\n\t\t},\n\t\t{\n\t\t\"epoch\":1458675331,\n\t\t\"height\":-0.191514\n\t\t},\n\t\t{\n\t\t\"epoch\":1458675631,\n\t\t\"height\":-0.190415\n\t\t},\n\t\t{\n\t\t\"epoch\":1458675931,\n\t\t\"height\":-0.183307\n\t\t},\n\t\t{\n\t\t\"epoch\":1458676231,\n\t\t\"height\":-0.170285\n\t\t},\n\t\t{[...]
