---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/hourly/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.124'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:30 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"hourly\": 1\n  }\n\t}\n\t\t,\n\t\"hourly_forecast\":
        [\n\t\t{\n\t\t\"FCTTIME\": {\n\t\t\"hour\": \"16\",\"hour_padded\": \"16\",\"min\":
        \"00\",\"min_unpadded\": \"0\",\"sec\": \"0\",\"year\": \"2016\",\"mon\":
        \"3\",\"mon_padded\": \"03\",\"mon_abbrev\": \"Mar\",\"mday\": \"22\",\"mday_padded\":
        \"22\",\"yday\": \"81\",\"isdst\": \"1\",\"epoch\": \"1458676800\",\"pretty\":
        \"4:00 PM EDT on March 22, 2016\",\"civil\": \"4:00 PM\",\"month_name\": \"March\",\"month_name_abbrev\":
        \"Mar\",\"weekday_name\": \"Tuesday\",\"weekday_name_night\": \"Tuesday Night\",\"weekday_name_abbrev\":
        \"Tue\",\"weekday_name_unlang\": \"Tuesday\",\"weekday_name_night_unlang\":
        \"Tuesday Night\",\"ampm\": \"PM\",\"tz\": \"\",\"age\": \"\",\"UTCDATE\":
        \"\"\n\t\t},\n\t\t\"temp\": {\"english\": \"54\", \"metric\": \"12\"},\n\t\t\"dewpoint\":
        {\"english\": \"22\", \"metric\": \"-6\"},\n\t\t\"condition\": \"Clear\",\n\t\t\"icon\":
        \"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"fctcode\":
        \"1\",\n\t\t\"sky\": \"7\",\n\t\t\"wspd\": {\"english\": \"11\", \"metric\":
        \"18\"},\n\t\t\"wdir\": {\"dir\": \"SW\", \"degrees\": \"216\"},\n\t\t\"wx\":
        \"Sunny\",\n\t\t\"uvi\": \"2\",\n\t\t\"humidity\": \"28\",\n\t\t\"windchill\":
        {\"english\": \"-9999\", \"metric\": \"-9999\"},\n\t\t\"heatindex\": {\"english\":
        \"-9999\", \"metric\": \"-9999\"},\n\t\t\"feelslike\": {\"english\": \"54\",
        \"metric\": \"12\"},\n\t\t\"qpf\": {\"english\": \"0.0\", \"metric\": \"0\"},\n\t\t\"snow\":
        {\"english\": \"0.0\", \"metric\": \"0\"},\n\t\t\"pop\": \"0\",\n\t\t\"mslp\":
        {\"english\": \"30.08\", \"metric\": \"1019\"}\n\t\t}\n\t\t,\n\t\t{\n\t\t\"FCTTIME\":
        {\n\t\t\"hour\": \"17\",\"hour_padded\": \"17\",\"min\": \"00\",\"min_unpadded\":
        \"0\",\"sec\": \"0\",\"year\": \"2016\",\"mon\": \"3\",\"mon_padded\": \"03\",\"mon_abbrev\":
        \"Mar\",\"mday\": \"22\",\"mday_padded\": \"22\",\"yday\": \"81\",\"isdst\":
        \"1\",\"epoch\": \"1458680400\",\"pretty\": \"5:00 PM EDT on March 22, 2016\",\"civil\":
        \"5:00 PM\",\"month_nam[...]
