---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/almanac/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.030'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:27 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"almanac\": 1\n  }\n\t}\n\t\t,\n\t\"almanac\": {\n\t\t\"airport_code\":
        \"KNYC\",\n\t\t\"temp_high\": {\n\t\t\"normal\": {\n\t\t\"F\": \"52\",\n\t\t\"C\":
        \"11\"\n\t\t}\n\t\t,\n\t\t\"record\": {\n\t\t\"F\": \"78\",\n\t\t\"C\": \"25\"\n\t\t},\n\t\t\"recordyear\":
        \"2012\"\n\t\t},\n\t\t\"temp_low\": {\n\t\t\"normal\": {\n\t\t\"F\": \"37\",\n\t\t\"C\":
        \"3\"\n\t\t}\n\t\t,\n\t\t\"record\": {\n\t\t\"F\": \"12\",\n\t\t\"C\": \"-11\"\n\t\t},\n\t\t\"recordyear\":
        \"1885\"\n\t\t}\n\t}\n}\n"
  recorded_at: Tue, 22 Mar 2016 19:15:27 GMT
recorded_with: VCR 3.0.1
