---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/currenthurricane/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.031'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:29 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"currenthurricane\": 1\n  }\n\t}\n\t\t,\n\"currenthurricane\":
        [\n\t{\n\t\t\"stormInfo\": {\n\t\t\"stormName\":\"Emeraude\",\n\t\t\"stormName_Nice\":\"Tropical
        Cyclone Emeraude\",\n\t\t\"stormNumber\":\"si201615\",\n\t\t\"requesturl\":\"/hurricane/southern-indian/2016/Tropical-Cyclone-Emeraude\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/hurricane/southern-indian/2016/Tropical-Cyclone-Emeraude\"\n\t\t},\n\t\t\"Current\":
        {\n\t\t\"lat\":-11.1,\n\t\t\"lon\":86.2,\n\t\t\"SaffirSimpsonCategory\":-2,\n\t\t\"Category\":\"Tropical
        Cyclone\",\n\t\t\"Time\": {\n\t\t\"hour\": \"2\",\"hour_padded\": \"02\",\"year\":
        \"2016\",\"mon\": \"3\",\"mon_padded\": \"03\",\"mon_abbrev\": \"Mar\",\"mday\":
        \"22\",\"mday_padded\": \"22\",\"yday\": \"81\",\"isdst\": \"1\",\"epoch\":
        \"1458626400\",\"pretty\": \"2:00 AM EDT on March 22, 2016\",\"civil\": \"2:00
        AM\",\"month_name\": \"March\",\"month_name_abbrev\": \"Mar\",\"weekday_name\":
        \"Tuesday\",\"weekday_name_night\": \"Tuesday Night\",\"weekday_name_abbrev\":
        \"Tue\",\"weekday_name_unlang\": \"Tuesday\",\"weekday_name_night_unlang\":
        \"Tuesday Night\",\"ampm\": \"AM\"\n\t\t},\n\t\t\"TimeGMT\": {\n\t\t\"hour\":
        \"6\",\"hour_padded\": \"06\",\"year\": \"2016\",\"mon\": \"3\",\"mon_padded\":
        \"03\",\"mon_abbrev\": \"Mar\",\"mday\": \"22\",\"mday_padded\": \"22\",\"yday\":
        \"81\",\"epoch\": \"1458626400\",\"pretty\": \"6:00 AM GMT on March 22, 2016\",\"civil\":
        \"6:00 AM\",\"month_name\": \"March\",\"month_name_abbrev\": \"Mar\",\"weekday_name\":
        \"Tuesday\",\"weekday_name_night\": \"Tuesday Night\",\"weekday_name_abbrev\":
        \"Tue\",\"weekday_name_unlang\": \"Tuesday\",\"weekday_name_night_unlang\":
        \"Tuesday Night\",\"ampm\": \"AM\"\n\t\t},\n\t\t\"WindSpeed\":{\n\t\t\"Kts\":30,\n\t\t\"Mph\":35,\n\t\t\"Kph\":55\n\t\t},\n\t\t\"WindGust\":{\n\t\t\"Kts\":40,\n\t\t\"Mph\":45,\n\t\t\"Kph\":75\n\t\t},\n\t\t\"Fspeed\":{\n\t\t\"Kts\":1,\n\t\t\"Mph\":1,\n\t\t\"Kph\":1\n\t\t},\n\t\t\"Movement\":{\n\t\t\"Degrees\":\"315\",\n\t\t\"Text\":\"NW\"\n\t\t},\n\t\t\"Pressure\":{\n\t\t\"mb\":null,\n\t\t\"inches\":null\n\t\t},\n\t\t\"WindQuadrants\":{\n\t\t\"comment\":\"Use
        these keys to determine what quadrants exist in the WindRadius object they
        could be N S E W (representing quadrants rotated 45 degrees x) or NE SE SW
        NW (representing the typical + quadrant system)\"\n\t\t,\"quad_1\":\"NE\"\n\t\t,\"quad_2\":\"SE\"\n\t\t,\"quad_3\":\"SW\"\n\t\t,\"quad_4\":\"NW\"\n\t\t},\n\t\t\"WindRadius\":{\n\t\t\"34\":{\n\t\t\"NE\":null\n\t\t,\"SE\":null\n\t\t,\"SW\":null\n\t\t,\"NW\":null\n\t\t},\n\t\t\"50\":{\n\t\t\"NE\":null\n\t\t,\"SE\":null\n\t\t,\"SW\":null\n\t\t,\"NW\":null\n\t\t},\n\t\t\"64\":{\n\t\t\"NE\":null\n\t\t,\"SE\":null\n\t\t,\"SW\":null\n\t\t,\"NW\":null\n\t\t}\n\t\t},\n\t\t\"SeaQuadrants\":{\n\t\t\"comment\":\"Use
        these keys to determine what quadrants exist in the SeaRadius object they
        could be N S E W (representing quadrants rotated 45 degrees x) or NE SE SW
        NW (representing the typical + quadrant system)\"\n\t\t},\n\t\t\"SeaRadius\":{\n\t\t\"12\":{\n\t\t}\n\t\t}\n\t\t},\n\t\t\"forecast\":
        [\n\t\t{\n\t\t\"ForecastHour\":\"12HR\",\n\t\t\"SaffirSimpsonCategory\":-2,\n\t\t\"lat\":-10.9,\n\t\t\"lon\":85.2,\"Category\":\"td\",\n\t\t\"Time\":
        {\n\t\t\"hour\": \"14\",\"hour_padded\": \"14\",\"year\": \"2016\",\"mon\":
        \"3\",\"mon_padded\": \"03\",\"mon_abbrev\": \"Mar\",\"mday\": \"22\",\"mday_padded\":
        \"22\",\"yday\": \"81\",\"isdst\": \"1\",\"epoch\": \"1458669600\",\"pretty\":
        \"2:00 PM EDT on March 22, 2016\",\"civil\": \"2:00 PM\",\"month_name\": \"March\",\"month_name_abbrev\":
 [...]
