---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/geolookup/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.078'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:29 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"geolookup\": 1\n  }\n\t}\n\t\t,\t\"location\": {\n\t\t\"type\":\"CITY\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"state\":\"NY\",\n\t\t\"city\":\"New
        York\",\n\t\t\"tz_short\":\"EDT\",\n\t\t\"tz_long\":\"America/New_York\",\n\t\t\"lat\":\"40.75013351\",\n\t\t\"lon\":\"-73.99700928\",\n\t\t\"zip\":\"10001\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"l\":\"/q/zmw:10001.1.99999\",\n\t\t\"requesturl\":\"US/NY/New_York.html\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/US/NY/New_York.html\",\n\t\t\"nearby_weather_stations\":
        {\n\t\t\"airport\": {\n\t\t\"station\": [\n\t\t{ \"city\":\"Central Park\",
        \"state\":\"NY\", \"country\":\"US\", \"icao\":\"KNYC\", \"lat\":\"40.77899933\",
        \"lon\":\"-73.96924591\" }\n\t\t,{ \"city\":\"New York Downtown Manhattan/w\",
        \"state\":\"NY\", \"country\":\"US\", \"icao\":\"KJRB\", \"lat\":\"40.70121384\",
        \"lon\":\"-74.00902557\" }\n\t\t,{ \"city\":\"New York\", \"state\":\"NY\",
        \"country\":\"US\", \"icao\":\"KLGA\", \"lat\":\"40.77944565\", \"lon\":\"-73.88027191\"
        }\n\t\t,{ \"city\":\"Teterboro\", \"state\":\"NJ\", \"country\":\"US\", \"icao\":\"KTEB\",
        \"lat\":\"40.85899353\", \"lon\":\"-74.05616760\" }\n\t\t]\n\t\t}\n\t\t,\n\t\t\"pws\":
        {\n\t\t\"station\": [\n\t\t{\n\t\t\"neighborhood\":\"Midtown\",\n\t\t\"city\":\"New
        York\",\n\t\t\"state\":\"NY\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KNYNEWYO258\",\n\t\t\"lat\":40.746979,\n\t\t\"lon\":-73.996620,\n\t\t\"distance_km\":0,\n\t\t\"distance_mi\":0\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Midtown\",\n\t\t\"city\":\"New
        York\",\n\t\t\"state\":\"NY\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KNYNEWYO206\",\n\t\t\"lat\":40.748192,\n\t\t\"lon\":-74.001923,\n\t\t\"distance_km\":0,\n\t\t\"distance_mi\":0\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Chelsea,
        West 28th St.\",\n\t\t\"city\":\"New York\",\n\t\t\"state\":\"NY\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KNYNEWYO395\",\n\t\t\"lat\":40.746910,\n\t\t\"lon\":-73.992836,\n\t\t\"dista[...]
