---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/tide/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.053'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:32 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"tide\": 1\n  }\n\t}\n\t\t,\n\t\"tide\": {\n\t\t\"tideInfo\":
        [\n\t\t{\n\t\t\"tideSite\":\"East 41st Street, New York City, East River,
        New York\",\n\t\t\"lat\":\"40.7467\",\n\t\t\"lon\":\"-73.9683\",\n\t\t\"units\":\"feet\",\n\t\t\"type\":\"tide\",\n\t\t\"tzname\":\"America/New_York\"\n\t\t}\n\t\t],\n\t\t\"tideSummary\":
        [\n\t\t{\n\t\t\"date\": {\n  \"pretty\": \"3:37 PM EDT on March 22, 2016\",\n
        \ \"year\": \"2016\",\n  \"mon\": \"03\",\n  \"mday\": \"22\",\n  \"hour\":
        \"15\",\n  \"min\": \"37\",\n  \"tzname\": \"America/New_York\",\n\t\t\"epoch\":\"1458675431\"\n
        \ },\n  \"utcdate\": {\n  \"pretty\": \"7:37 PM GMT on March 22, 2016\",\n
        \ \"year\": \"2016\",\n  \"mon\": \"03\",\n  \"mday\": \"22\",\n  \"hour\":
        \"19\",\n  \"min\": \"37\",\n  \"tzname\": \"UTC\",\n\t\t\"epoch\":\"1458675431\"\n
        \ },\n\t\t\"data\": {\n\t\t\"height\":\"-0.19 ft\",\n\t\t\"type\":\"Low Tide\"\n\t\t}\n\t\t},\n\t\t{\n\t\t\"date\":
        {\n  \"pretty\": \"6:35 PM EDT on March 22, 2016\",\n  \"year\": \"2016\",\n
        \ \"mon\": \"03\",\n  \"mday\": \"22\",\n  \"hour\": \"18\",\n  \"min\": \"35\",\n
        \ \"tzname\": \"America/New_York\",\n\t\t\"epoch\":\"1458686105\"\n  },\n
        \ \"utcdate\": {\n  \"pretty\": \"10:35 PM GMT on March 22, 2016\",\n  \"year\":
        \"2016\",\n  \"mon\": \"03\",\n  \"mday\": \"22\",\n  \"hour\": \"2[...]
