---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/default_api_key/forecast/q/10001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.032'
      Last-Modified:
      - Tue, 22 Mar 2016 19:15:29 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"1:50 PM EDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"title\":\"Tuesday\",\n\t\t\"fcttext\":\"Plentiful
        sunshine. High around 55F. Winds SSW at 10 to 15 mph.\",\n\t\t\"fcttext_metric\":\"Sunny.
        High 13C. Winds SSW at 15 to 25 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_mostlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_mostlycloudy.gif\",\n\t\t\"title\":\"Tuesday
        Night\",\n\t\t\"fcttext\":\"Partly cloudy skies this evening will become overcast
        overnight. Low 47F. Winds SSW at 10 to 20 mph.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy skies early will give way to cloudy skies late. Low 8C. Winds SSW at
        15 to 30 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,[...]
